/***************************************************
* feature  :  变量配置;
* update   :  2015/02/05;
* use      :  ;
* extend   :  ;
* example  :  ;
* desc     :  ;
* feedback :  此处填入 issue, 并请附带以下信息[os_version, browser_version, page_path, issue_description]
*          -  demo => [windows 7, IE 8, http://diligrp.com/icon.html, 在不定height下未能垂直居中];
****************************************************/
.bg-img {
  background: url('../../images/icon/icon.png') no-repeat;
  background-size: 150px;
}
.pickerList {
  background-color: #F5F5F5;
}
.pickerList .m-header {
  background-color: #6c2;
  color: #FFF;
}
.pickerList .picker li {
  margin-top: 10px;
  background-color: #FFF;
  border: 1px solid #ddd;
  border-width: 1px 0;
  position: relative;
}
.pickerList .picker label {
  display: block;
  cursor: pointer;
}
.pickerList .picker .info {
  padding: 0 15px 10px;
  position: relative;
}
.pickerList .picker h3 {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  padding: 10px 0 4px;
}
.pickerList .picker h3 em {
  font-size: 12px;
  color: #6c2;
  font-style: normal;
  margin-left: 10px;
  display: inline-block;
}
.pickerList .picker p {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}
.pickerList .picker input[type=radio] {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
}
.pickerList .picker .action {
  border-top: 1px solid #ddd;
  overflow: hidden;
}
.pickerList .picker .action .item {
  width: 33.3%;
  box-sizing: border-box;
  float: left;
  border-left: 1px solid #ddd;
  line-height: 45px;
  font-size: 14px;
  color: #999;
  text-align: center;
}
.pickerList .picker .action .item:first-child {
  border: none;
}
.pickerList .picker .action .item:last-child {
  float: right;
}
