/***************************************************
* feature  :  变量配置;
* update   :  2015/02/05;
* use      :  ;
* extend   :  ;
* example  :  ;
* desc     :  ;
* feedback :  此处填入 issue, 并请附带以下信息[os_version, browser_version, page_path, issue_description]
*          -  demo => [windows 7, IE 8, http://diligrp.com/icon.html, 在不定height下未能垂直居中];
****************************************************/
.bg-img {
  background: url('../../images/icon/icon.png') no-repeat;
  background-size: 150px;
}
.productDetail {
  background-color: #F5F5F5;
}
.productDetail .slider {
  position: relative;
  height: 220px;
  width: 100%;
  color: #333;
  text-align: center;
  line-height: 23px;
  font-size: 14px;
}
.productDetail .m-content {
  overflow: hidden;
}
.productDetail .page-contrl {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  line-height: 25px;
  background: rgba(255, 255, 255, 0.6);
  color: #333;
  text-indent: 15px;
  font-size: 14px;
  text-align: left;
}
.productDetail .page-contrl .page {
  float: left;
}
.productDetail .page-contrl .icon-fav,
.productDetail .page-contrl .icon-scan {
  margin-right: 15px;
  float: right;
}
.productDetail .summary {
  padding: 10px 15px;
  background-color: #FFF;
  border-bottom: 1px solid #ddd;
}
.productDetail .summary h3 {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.productDetail .summary em {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #FA4535;
}
.productDetail .position {
  padding: 8px 15px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  background-color: #FFF;
}
.productDetail .position li {
  float: left;
  width: 100%;
}
.productDetail .position span {
  font-size: 12px;
  line-height: 1.8;
  color: #333;
}
.productDetail .position .title {
  color: #333;
  width: 48px;
  display: inline-block;
}
.productDetail .position .text {
  color: #999;
}
.productDetail .shop {
  position: relative;
  padding: 14px 15px 14px 85px;
  overflow: hidden;
  background-color: #FFF;
  border: 1px solid #ddd;
  border-width: 1px 0;
  margin-bottom: 10px;
}
.productDetail .shop:before,
.productDetail .shop:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  border: 8px solid #999;
  border-color: transparent transparent transparent #999;
  margin-top: -8px;
}
.productDetail .shop:after {
  border-color: transparent transparent transparent #FFF;
  right: 12px;
}
.productDetail .shop .cover {
  float: left;
  margin-left: -70px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 0 3px #999;
}
.productDetail .shop h3 {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  line-height: 20px;
}
.productDetail .shop p {
  font-size: 12px;
  color: #999;
}
.productDetail .shop .medal .real-name {
  font-size: 12px;
  color: #66cc22;
}
.productDetail .shop .medal .real-name i {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  background: url("../../images/icon/real_name@2x.png") center center no-repeat;
  background-size: 15px;
}
.productDetail .step-price {
  border-bottom: 1px solid #ddd;
  padding: 0 15px;
  background-color: #FFF;
}
.productDetail .m-step li:first-child .text {
  color: #6c2;
}
.productDetail .m-step li:nth-child(2) .text {
  color: #FF9D2C;
}
.productDetail .m-step li:nth-child(3) .text {
  color: #FA4535;
}
.productDetail .detail {
  padding: 0 15px 15px;
  background-color: #FFF;
  border-bottom: 1px solid #ddd;
}
.productDetail .comment {
  border-top: 1px solid #ddd;
}
.productDetail .desc {
  width: 100%;
  font-size: 14px;
  color: #666;
}
.productDetail .desc img {
  display: block;
  width: 100%;
  margin: 5px auto;
}
.productDetail .tabs {
  padding: 15px;
  border-top: 1px solid #ddd;
  background-color: #FFF;
}
.productDetail .m-footer .m-btn {
  width: 120px;
  box-sizing: border-box;
  float: right;
}
.productDetail .m-footer .btn-success {
  margin-right: 10px;
}
.productDetail .m-footer .shop-num {
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 10px;
  position: relative;
  background: url("../../images/icon/shop_list@2x.png") center center no-repeat;
  background-size: 25px;
  overflow: visible;
}
.productDetail .m-footer .shop-num .m-badge {
  position: absolute;
  right: -5px;
  top: -5px;
  text-indent: 0;
  min-width: 12px;
  box-sizing: border-box;
  display: inline-block;
  background-color: #ff2c2c;
  text-align: center;
  font-style: normal;
  font-size: 10px;
  color: #FFF;
  line-height: 12px;
  border-radius: 6px;
  padding: 0 1px;
}
.m-table {
  margin-bottom: 15px;
}
.m-table-view-old li {
  text-align: left;
}
.product-buy-popup {
  background-color: #F5F5F5;
  position: absolute;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  -webkit-transform: translate(0, 100%) translateZ(0);
  -moz-transform: translate(0, 100%) translateZ(0);
  -ms-transform: translate(0, 100%) translateZ(0);
  -o-transform: translate(0, 100%) translateZ(0);
  transform: translate(0, 100%) translateZ(0);
  -webkit-transition: -webkit-transform cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s;
  -moz-transition: -moz-transform cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s;
  -ms-transition: -ms-transform cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s;
  -o-transition: -o-transform cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s;
  transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s;
}
.product-buy-popup .head {
  width: 100%;
  height: auto;
}
.product-buy-popup .close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 36px;
  height: 36px;
  background: url("../../images/icon/icon_close@2x.png") center center no-repeat;
  background-size: 20px;
  cursor: pointer;
}
.product-buy-popup .field {
  font-size: 14px;
  color: #666;
  padding: 8px 15px 2px;
}
.product-buy-popup .area {
  padding: 0 5px 10px 15px;
  font-size: 0;
}
.product-buy-popup .area .amount-tips {
  float: left;
  font-size: 12px;
  line-height: 35px;
  margin-left: 8px;
  color: #FA4535;
}
.product-buy-popup .area .m-input-number {
  float: left;
}
.product-buy-popup .area .m-input-number input {
  width: 60px;
}
.product-buy-popup .m-btn {
  width: auto;
  line-height: 33px;
  display: inline-block;
  padding: 0 10px;
  min-width: 68px;
  text-align: center;
  margin: 5px 10px 5px 0;
  font-size: 12px;
  color: #666;
  background-color: #FFF;
  border: 1px solid #ccc;
}
.product-buy-popup .m-btn.on {
  background-color: #66cc22;
  border-color: #66cc22;
  color: #FFF;
}
.product-buy-popup .m-btn.disabled {
  border-style: dashed;
  color: #BBB;
  cursor: not-allowed;
}
.product-buy-popup .bottom {
  height: 45px;
  text-align: center;
  background-color: #FFF;
  border-top: 1px solid #ddd;
  padding: 15px;
}
.product-buy-popup .bottom .m-btn {
  font-size: 18px;
  color: #FFF;
  line-height: 43px;
  width: 145px;
  margin: 0;
  background-color: #66cc22;
  border-color: #66cc22;
}
.product-buy-popup .bottom .m-btn.btn-text {
  float: none;
  border-radius: 5px;
  background: none;
  border: 1px solid #6c2;
  color: #6c2;
}
.product-buy-popup .bottom .btn-small {
  width: auto;
}
.product-buy-popup .bottom .btn-small:first-child {
  margin-right: 15px;
}
