/*zzf*/
/***************************************************
* feature  :  变量配置;
* update   :  2015/02/05;
* use      :  ;
* extend   :  ;
* example  :  ;
* desc     :  ;
* feedback :  此处填入 issue, 并请附带以下信息[os_version, browser_version, page_path, issue_description]
*          -  demo => [windows 7, IE 8, http://diligrp.com/icon.html, 在不定height下未能垂直居中];
****************************************************/
.bg-img {
  background: url('../../images/icon/icon.png') no-repeat;
  background-size: 150px;
}
#sortPage .m-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#sortPage .sort {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
#sortPage .sort-left,
#sortPage .sort-right {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  margin-top: 44px;
}
#sortPage .sort-left ul,
#sortPage .sort-right ul {
  padding-bottom: 44px;
}
#sortPage .sort-left {
  background: #f4f4f4;
  left: 0;
  font-size: 0;
}
#sortPage .sort-left li {
  border-right: 1px solid #dddddd;
}
#sortPage .sort-left li.on {
  background: #ffffff;
  border-right: 1px solid #ffffff;
}
#sortPage .sort-left li.on .title {
  color: #66cc22;
}
#sortPage .m-table-view .cell {
  padding: 0;
  overflow: visible;
}
#sortPage .m-table-view .cell .title {
  display: block;
  float: none;
  text-align: left;
  padding: 11px 15px;
}
#sortPage .sort-right {
  right: 0;
}
#sortPage .sort-right ul {
  padding-bottom: 0;
}
#sortPage .sort-right li {
  margin: 0 10px;
}
#sortPage .sort-right li .m-table-view {
  width: auto;
  display: block;
  margin: 0 -10px;
  background-color: #888;
}
#sortPage .sort-right li .m-table-view .cell:last-child {
  border-bottom: none;
}
#sortPage .sort-right li .m-table-view .cell:after {
  display: none;
}
#sortPage .sort-right li .m-table-view .cell .title {
  color: #fff;
  padding: 11px 15px;
}
#sortPage .sort-right .cell .title {
  padding: 11px 5px;
}
#sortPage .sort-right .cell:after {
  display: none;
  content: '';
  position: absolute;
  top: 14px;
  right: 10px;
  margin-top: 0;
  background: url("../../images/icon/icon.png") -31px -236px repeat;
  width: 9px;
  height: 15px;
  background-size: 150px;
  vertical-align: middle;
}
#sortPage .sort-right .cell.more:after,
#sortPage .sort-right .cell.on:after {
  display: block;
}
#sortPage .sort-right .cell.on:after {
  width: 15px;
  height: 9px;
  top: 17px;
  background: url("../../images/icon/icon.png") -270px -112px repeat;
  background-size: 150px;
}
