/*zzf*/
/***************************************************
* feature  :  activity;
* update   :  2015/02/03;
* use      :  ;
* extend   :  ;
* example  :  ;
* desc     :  ;
* feedback :  此处填入 issue, 并请附带以下信息[os_version, browser_version, page_path, issue_description]
*          -  demo => [windows 7, IE 8, http://diligrp.com/icon.html, 在不定height下未能垂直居中];
****************************************************/
/***************************************************
* feature  :  变量配置;
* update   :  2015/02/05;
* use      :  ;
* extend   :  ;
* example  :  ;
* desc     :  ;
* feedback :  此处填入 issue, 并请附带以下信息[os_version, browser_version, page_path, issue_description]
*          -  demo => [windows 7, IE 8, http://diligrp.com/icon.html, 在不定height下未能垂直居中];
****************************************************/
.bg-img {
  background: url('../../images/icon/icon.png') no-repeat;
  background-size: 150px;
}
/*zzf*/
.a-act {
  padding: 10px;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.a-act .user {
  margin-right: 10px;
  display: inline-block;
  overflow: hidden;
  border-radius: 100%;
  border: 2px solid #FFBB26;
}
.a-act .user img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.a-act .cont {
  -moz-box-flex: 2;
  -webkit-box-flex: 2;
  box-flex: 2;
}
.a-act .cont .head {
  margin-bottom: 5px;
}
.a-act .cont .head .left {
  float: left;
  font-size: 14px;
}
.a-act .cont .head .left h3 {
  color: #000;
  text-align: left;
}
.a-act .cont .head .left p {
  color: #999;
}
.a-act .cont .head .right {
  float: right;
  font-size: 12px;
  color: #999;
}
.a-act .cont .view {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.a-act .cont .view .text {
  margin-bottom: 5px;
  font-size: 14px;
}
.a-act .cont .view .images li {
  display: inline-block;
  margin: 5px 2px 5px 0;
}
.a-act .cont .view .min-img img {
  width: 75px;
  height: 75px;
}
.a-act .cont .view .max-img img {
  width: 180px;
}
.a-act .cont .end {
  height: 30px;
  line-height: 40px;
  text-align: right;
}
.a-act .cont .end a.call {
  color: #0099cc;
  font-size: 12px;
}
.a-act .cont .end a.del {
  color: #999;
  font-size: 12px;
  float: left;
}
